event_a1_x1: email1=nericlau@gmail.com email2=kayama818@gmail.com email3=greenyogi@gmail.com email1_cnt=3 email2_cnt=6
event_a1_x2: email1=nericlau@gmail.com email2=kayama818@gmail.com email3=greenyogi@gmail.com email1_cnt=3 email2_cnt=6
event_b2_y1: email1=nericlau@gmail.com email2=kayama818@gmail.com email3=greenyogi@gmail.com email1_cnt=3 email2_cnt=6
event_b2_y2: email1=nericlau@gmail.com email2=kayama818@gmail.com email3=greenyogi@gmail.com email1_cnt=3 email2_cnt=6
event_c3_z1: email1=nericlau@gmail.com email2=kayama818@gmail.com email3=greenyogi@gmail.com email1_cnt=3 email2_cnt=6
event_c3_z2: email1=nericlau@gmail.com email2=kayama818@gmail.com email3=greenyogi@gmail.com email1_cnt=3 email2_cnt=6
